/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.cm-search.cm-panel {
	max-width: 700px;
	margin-left: calc((100% - 700px) / 2);
	box-sizing: border-box;
	padding: 0 10px !important;
}

.cm-panels {
	border: 0px !important;
}

.cm-search.cm-panel .cm-textfield {
	width: calc(100% - 24px);
	-webkit-app-region: no-drag;
	background: var(--background-modifier-form-field);
	border: var(--input-border-width) solid var(--background-modifier-border);
	color: var(--text-normal);
	font-family: inherit;
	padding: var(--size-4-1) var(--size-4-2);
	font-size: var(--font-ui-small);
	border-radius: var(--input-radius);
	outline: none;
}

.cm-search.cm-panel .cm-button {
	-webkit-app-region: no-drag;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--text-normal);
	font-size: var(--font-ui-small);
	border-radius: var(--button-radius);
	border: 0;
	padding: var(--size-4-1) var(--size-4-3);
	height: var(--input-height);
	font-weight: var(--input-font-weight);
	cursor: var(--cursor);
	font-family: inherit;
	outline: none;
	user-select: none;
	white-space: nowrap;
	background-image: none;
	margin: 5px !important;
}

.cm-search.cm-panel button:last-of-type {
	cursor: var(--cursor);
	position: relative;
	top: 2px;
	font-size: 24px !important;
	line-height: 20px;
	height: 24px;
	width: 24px;
	padding: 0 var(--size-2-2);
	border-radius: var(--radius-s);
	color: var(--text-muted);
	background: var(--background-modifier-form-field);
}

.cm-search.cm-panel label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--input-height);
	margin: 5px !important;
}
